<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
    <title>Canales</title>
</head>
<body>
    <button class="addTask">Crear Canal</button>
    <div class="todoApp-Container">
        <div class="taskBox"></div>
    </div>
    
</body>
<script src="/scripts/channel.js"></script>