<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Home</title>
</head>
<body>

    <div class="main-container">

        <!-- ================== COLUMNA SERVIDORES ================== -->

        <div class="conteinerServers">
            <div class="servers">
                
                <!-- Mostramos los servidores del usuario logueado -->
                <div class="conteiner-servers item-server">
                    <div class="div-servers">
                        <!-- Clase de JavaScript: Trae todos los Servidores de un Usuario -->
                        <div class="serverBox"></div>
                    </div>
                    <!--
                    <ul class="servidores">
                        <li id="nameServidor">servidor 1</li>
                         <li>2</li>
                        <li>3 </li>
                        <li>4 </li> 

                    </ul>
                    -->
                    <!-- <ul class="edicion"> 
                        <li><img class="editServi" id="call" src="tres-puntos.png" width="15px"></li>
                        <li><img class="editServi" src="tres-puntos.png" width="15px"></li>
                    </ul> -->
                </div>

                <!-- ========== BOTONES servidor ========== -->
                <div class="conteiner-icons item-server">
                    <ul>
                        <li><img class="icono agregar" id="add" src="../assets/mas.png" width="32px" ></li>
                        <li><img class="icono buscar" id="explore" src="../assets/explorar.png" alt="" width="32px"></li>
                    </ul>
                </div>

            </div>

            <!-- Ir a Mi Perfil -->
            <a id="sendProfile" href="profile.html">
            <div class="conteinerUser" > <!--  id="open"  -->
                <img  id="iconUser" src="../assets/userIcon.png" width="42px" >
                <div class="account">
                    <p id="UserName"></p>
                 </div>
                
            </div></a>

            <!-- MODAL: Crear un servidor -->
            <div class="modalServer" id="modalServer">
                <div class="modalS">  
                    <h2>Crea tu Servidor:</h2>
                    <hr><br>
                    <form id="formAddServer"> <!-- method="post"-->
                        
                        <label for="nameS">Nombre: </label><br>
                        <input  type="text" id="nameS" name="nameS" ><br>
                        <label for="descripcionS">Descripcion: </label><br>
                        <input  type="text" id="descriptionS" name="descripcionS" ><br>
                            
                        <button class="btonAddServer" type="button">Enviar</button>
                    </form>
                    <button id="btonS">Cerrar</button>
                </div>
            </div>

        </div>

        <!-- ================== COLUMNA CANALES ================== -->

        <div class="conteinerCanales">
            <h2>Canales:</h2>
            <div class="canales items-canal">
                <!-- Clase de JavaScript: Trae todos los Canales de un Servidor -->
                <div class="channelBox"></div>
            </div>
            <div class="newCanal items-canal">
                <button id="newcanal">Añadir un canal</button>
            </div>
        </div>

        <!-- MODAL: Crear un canal -->
        <div id="modalCanal" class="modalCanal">
            <div class="modalC">
                <h2>Crea tu canal:</h2>
                <hr><br>
                <form id="formAddCanal">
                    <label for="name">Nombre</label><br>
                    <input class="inputs" type="name" id="nameC" name="text"><br>
                    <label for="descripcion">descripcion</label><br>
                    <input class="inputs" type="text" id="descriptionC" name="descripcion" ><br>
                    <button class="btonAddChannel" type="button">Enviar</button>
                </form><br>
                <button id="btonC">Cerrar</button>
            </div>
        </div>
        
        <!-- ==================== COLUMNA CHAT ==================== -->

        <div class="conteinerChat">
            
            <div id="chat" class="todoApp-Container">
                
                <div class="serverEmpty">
                    <p id="empty">Aún no te has unido a un servidor <br>
                        Intenta buscar uno o crea uno propio</p>
                </div>

                <!-- Clase de JavaScript: Trae todos los Mensajes de un Canal -->
                <div class="chatBox"></div>

                <!-- Clase de JavaScript: Trae todos los Servidores -->
                <div class="serverExplorer">
                    <div class="serverExploreBox"></div>
                </div>

            </div>
             
            <div id="sub-content" class="inputMessage">
                <div class="input-container">
                    <!-- <input id="input" name="ingreso" type="text" placeholder="Escribe aqui..."> -->
                    <textarea id="input" name="ingreso" type="text" placeholder="Escribe aqui..." ></textarea>
                    <button id="bton">Enviar</button>
                </div>
            </div>

        </div> 
    </div>

    <script src="/scripts/home.js"></script>

</body>
</html>