<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/styles/profile.css">
</head>
<body>
    <!-- MI PERFIL -->
    <div id="message" class="conteiner">
        <h1 id="h1Text">Mi Perfil</h1>
        <img id="avatar" width="120">
        <p id="padre1"><strong>Usuario:</strong> <span id="username"></span></p>
        <p id="padre2"><strong>Email:</strong> <span id="email"></span></p>
        <p id="padre3"><strong>Nombre:</strong> <span id="first_name"></span></p>
        <p id="padre4"><strong>Apellido:</strong> <span id="last_name"></span></p>
        <p id="padre5"><strong>Cumpleaños:</strong> <span id="birthdate"></span></p>
        
    </div>
    
    <!-- BOTONES -->
    <div class="buttons">
        <button id="editUser" class="my-button">Editar Perfil</button>
        <button id="deleteUser" class="my-button">Eliminar cuenta</button>
        <!-- <a href="edit_profile.html" class="my-button">Editar Perfil</a> -->
        <button id="logout" class="my-button">Cerrar sesión</button>
    </div>
    

    <script src="/scripts/profile.js"></script>
</body>
</html>