<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/register.css">
</head>
<body>
    <!-- <h1>Welcome!</h1> -->
    <!-- crear cuenta
    correo
    name usu
    nome person
    ape person
    contraseña
    fechaNac
confirmar -->

    <div class="conteiner">
        <h1>Crear cuenta</h1>
        <form id="myform" action="/register" method="post">
            <label for="email">Correo electronico</label>
            <input class="inputs" type="email" id="email" name="email" required>
            <label for="username">Nombre de usuario</label>
            <input class="inputs" type="text" id="username" name="username" required>
            <label for="first_name">Nombre</label>
            <input class="inputs" type="text" id="first_name" name="first_name" >
            <label for="last_name">Apellido</label>
            <input class="inputs" type="text" id="last_name" name="last_name" >
            <label for="password">Contraseña</label>
            <input class="inputs" id="password" name="password" type="password" required >
            <label for="birthdate">Fecha de nacimiento</label>
            <div id="select">
                <select id="day" name="day" class="select_day select" required aria-required="true">
                <option selected hidden>Día</option>
                <!-- <option></option> -->
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                </select>
                <select id="month" name="month"class="select_mes select" required >
                <option selected hidden>Mes</option>
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
                </select>
                <select id="year" name="year" class="select_year select" required >
                    <option selected hidden>Año</option>
                    <option value="1999">1999</option>
                    <option value="2000">2000</option>
                </select>
            </div>
            
            <!-- <label for="avatar">Img</label>
            <input class="inputs" id="avatar" name="avatar" type="url" > -->
            <button id="bton" type="submit">Confirmar</button>
        </form>
    </div>
    <div id="message"></div>

    <script src="/scripts/register.js"></script>
</body>
</html>