<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/styles/welcome.css">
</head>
<body>
    <h1 id="msj">Welcome</h1>
    <button id="edit">Update</button>
    <form id="myform" method="post">
        <label for="email">Correo electronico</label><br>
        <input class="inputs" type="email" id="email" name="email"><br>
        <label for="username">Nombre de usuario</label><br>
        <input class="inputs" type="text" id="username" name="username" ><br>
        <label for="first_name">Nombre</label><br>
        <input class="inputs" type="text" id="first_name" name="first_name" ><br>
        <label for="last_name">Apellido</label><br>
        <input class="inputs" type="text" id="last_name" name="last_name" ><br>
         <!-- <label for="password">Contraseña</label><br>
        <input class="inputs" id="password" name="password" type="password" ><br> -->
        <label for="birthdate">Fecha de nacimiento</label><br>
        <input class="inputs" type="text" id="birthdate" name="birthdate" ><br>
        <!--
        <label for="avatar">Img</label>
        <input class="inputs" id="avatar" name="avatar" type="url" > -->
        <button id="bton" type="submit">Confirmar</button>
    </form>
    <div id="message"></div>
    <script src="/scripts/welcome.js"></script>
</body>
</html>