*{
    /* height: 100vh;
    width: 100%; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.main-container{
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  position: sticky;
}

ul{
  list-style: none;
}

.conteinerServers{
    background-color:  rgb(26, 86, 104);
    height: inherit;
    color: white ;
    width: 9%;
    /* padding-top: 14px; */
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    /* justify-content: center; */
}

.servers{
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* contenedor de servidores */
.item-server{
    /* padding: 7px; */
    /* align-self: center; */
    /* display: flex; */
    display: flex;
    justify-content: flex-start;
    
}

.conteiner-servers{
  padding: 5px ;
}

.conteiner-servers .servidores .servi{
    display: inline;
    font-size: 18px;
}

.edicion .editServi{
  display: flex;
  flex-direction: column;
  padding-top: 3px;
  padding-left: 3px;
  cursor: pointer;
}

.conteinerUser{
  height: 10vh;
  background-color: rgb(153, 86, 131);
  display: flex;
  
  flex-direction: column;
  align-items: center ;
  min-width:120px;
}

/* link profile */
#sendProfile{
  text-decoration: none;
  color : #fff;
}

/* icon + */

.conteiner-icons{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.icono:hover{
    cursor: pointer;
    width: 38px;;
}

.icono{
    width:32px;
}

#iconUser{
    margin-top: -20px;
}

.conteinerUser:hover{
    cursor: pointer;
}

/* contenedor de canales y sus hijos */
.conteinerCanales{
    background-color: rgb(51, 52, 131);
    color: white ;
    width: 15%;
    padding-top: 15px;
    align-self: center;
    display: flex;
    flex-direction: column;
    height: inherit;
    padding-left: 5px;
    min-width: 200px;
    height: 100vh;
    position: sticky;
    /* height: inherit; */
}

.items-canal{
    align-self: center;
}

.canales{
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 10vh; */
}

#newcanal:hover{
  cursor: pointer;
}

.newCanal{
  height: 10vh;
}

/* chat */

.conteinerChat{
    width: 80%;
    height: inherit;
    min-width: 500px;
    /* background-color:#000; */
    /* background-color: rgb(196, 216, 216); */
    position:sticky; 
}

#chat{
    display: flex;
    flex-direction: column;
    /* margin:  50px auto; */
    height: 93vh;
    background-image: url("../assets/pngwing.png");
    background-repeat: no-repeat; 
    background-position: center;
}

input{
    /* position: absolute; */
    width: 150px;
}

#text{
    /* display: flex;
    flex-direction: column; */
    display: inline;
    /* justify-content: flex-start; */
}

#item{
    list-style-type: none;
    color:rgb(2, 2, 2);
    background-color: #e4dddd;
    opacity: 0.59;
    border-radius: 3px;
    padding-left: 15px ;
    margin: 6px 0 6px 6px;
    /* text-align: center; */
}

#sub-content{
    margin-left:10px;
    height: 7vh;
    justify-content: flex-end;
    /* justify-content: end; */
}

#input{
    width: 00px;
    min-width: 400px;
}

/* ================ MODAL Server ================ */

.modalServer , .modalCanal{
    display: none; 
    position: fixed ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%; /* Altura máxima de la ventana emergente */
    width: 300px;
    padding: 20px;
    background-color: antiquewhite;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    z-index: 1000;
    color:#000;
}

.modalServer .modalS{
    text-align: center;
}

#newcanal{
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  background-color: #000;
  margin-bottom: 4px;
}

/* ================ MODAL Channel ================ */

/* .modalCanal{

    display: none; 
    position: fixed ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%; 
    width: 300px;
    padding: 20px;
    background-color: antiquewhite;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    z-index: 1000;
  } */
  /* CONTENIDO */
.modalCanal .modalC {
    text-align: center;
}

#close , #btonC, #btonS{
    border-radius: 5px;
    margin-top: 6px;
    padding: 7px;
    color:#fff;
    background-color: #011640;
}

/* ========= SERVIDORES, CANALES, MENSAJES ============= */

.todoApp-Container{
  display: flex;
  width: 99%;
  height: 100vh;
  z-index: 99;
}

/* ===== SERVERS ===== */

.serverBox{
  padding: 5px;
  width: 120px;
  max-height: 1000px;
}

.serverText{
  display: block;
  width: 100%;
  background-color: rgba(26, 187, 216, 0.247);
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  transition: .3s;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: .5s;
}

.serverText:hover .taskCountCircle {
  background-color: #444343;  /* Add the styles you want when hovering over .categoryText */
  color: white;
}

.serverText:hover{
  background-color: aquamarine;
  color: black;
  transition: .5s;
}

.noServers {
  font-size: 16px;
  font-weight: bold;
  color: #ff0000; /* Cambia el color según tu preferencia */
  margin: 10px 0;
}

/* ===== CHANNELS ===== */
.channelBox{
  padding: 5px;
  width: 200px;
  max-height: 1000px;
}

.channelText{
  display: block;
  width: 100%;
  background-color: rgba(107, 51, 238, 0.267);
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  transition: .5s;
  cursor: pointer;
  color: white;
}

.channelText:hover{
  background-color: rgba(123, 125, 255, 0.733);
  color: black;
  transition: .5s;
}

.noChannels {
  font-size: 16px;
  font-weight: bold;
  color: #ff0000; /* Cambia el color según tu preferencia */
  margin: 10px 0;
}

/* ===== MESSAGES ===== */
.chatBox{
  padding: 50px;
  width: 500px;
  max-height: 1000px;
}

.chatText{
  width: 100%;
  background-color: rgb(107, 51, 238);
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
  margin: 10px 0;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;
  transition: .5s;
  cursor: pointer;
  color: white;
 }

.chatAvatar {
  width: 50px;
}

.chatUsername {
  font-weight: bold;
  font-size: 16px;
  color: #007bff;
  margin-right: 10px;
}

.chatDate {
  font-size: 12px;
  color: #666;
  margin-left: 10px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}

.noMessages {
  font-size: 30px;
  font-style: italic;
  color: #888; /* Cambia el color según tu preferencia */
  margin: 10px 0;
}