*{
    /* height: 100vh;
    width: 100%; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;


  }

  .main-container{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    position: sticky;
  }
  ul{
    list-style: none;
}
.conteinerServers{
    background-color:  rgb(26, 86, 104);
    height: inherit;
    color: white ;
    width: 8%;
    /* padding-top: 14px; */
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    min-width: 60px;
    /* justify-content: center; */

}
.servers{
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* height: 90vh; */
}

/* contenedor de servidores */
.item-server{
    /* padding: 7px; */
    /* align-self: center; */
    /* display: flex; */
    display: flex;
    justify-content: flex-start;
    
}
/*  */
.conteiner-servers{
  padding: 5px ;
}
.conteiner-servers .servidores .servi{
    display: inline;
    font-size: 18px;
}

.edicion .editServi{
    display: flex;
    flex-direction: column;
    padding-top: 3px;
    padding-left: 3px;
    cursor: pointer;
}

.conteinerUser{
    height: 10vh;
    background-color: rgb(153, 86, 131);
    display: flex;
    flex-direction: column;
    align-items: center ;
}


/* icon + */

.conteiner-icons{

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
.icono:hover{
    cursor: pointer;
    width: 38px;;

}
.icono{
    width:32px;
}

#iconUser{
    margin-top: -20px;
}
.conteinerUser:hover{
    cursor: pointer;
}


  /* contenedor de canales y sus hijos */
.conteinerCanales{
    background-color: rgb(51, 52, 131);
    color: white ;
    width: 15%;
    padding-top: 15px;
    align-self: center;
    display: flex;
    flex-direction: column;
    height: inherit;
    padding-left: 5px;
    min-width: 200px;
    height: 100vh;
    position: sticky;
    /* height: inherit; */

}
.items-canal{
    align-self: center;
}
.canales{
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 10vh; */
    

}
#newcanal:hover{
  cursor: pointer;
}
.newCanal{
height: 10vh;
  
}

/* chat */

.conteinerChat{
    width: 80%;
    height: inherit;
    min-width: 500px;
    /* background-color:#000; */
    /* background-color: rgb(196, 216, 216); */
    position:sticky; 
}

#chat{
    display: flex;
    flex-direction: column;
    /* margin:  50px auto; */
    height: 93vh;
    background-image: url("../assets/pngwing.com\ \(2\).png");
    background-repeat: no-repeat; 
    background-position: center;
}

input{
    /* position: absolute; */
    width: 150px;
}
#text{
    /* display: flex;
    flex-direction: column; */
    display: inline;
    /* justify-content: flex-start; */
}

#item{
    list-style-type: none;
    color:rgb(2, 2, 2);
    background-color: #e4dddd;
    opacity: 0.59;
    border-radius: 3px;
    padding-left: 15px ;
    margin: 6px 0 6px 6px;
    /* text-align: center; */
}
#sub-content{
    margin-left:10px;
    height: 7vh;
    justify-content: flex-end;
    /* justify-content: end; */
}
#input{
    width: 00px;
    min-width: 400px;
}

/* modal server */
.modalServer , .modalCanal{
    display: none; 
  position: fixed ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%; /* Altura máxima de la ventana emergente */
    width: 300px;
    padding: 20px;
    background-color: antiquewhite;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    z-index: 1000;
    color:#000
  }
.modalServer .modalS{
    text-align: center;
}
/* modal user */

.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
  }
  
.show {
pointer-events: auto;
opacity: 1;
}

.modal {
background-color: antiquewhite;
width:400px;
max-width: 80%;
padding: 30px 50px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
text-align: center;
}

.modal h1 {
margin: 0;
}

.modal p {
opacity: 0.7;
font-size: 14px;
}

#newcanal{
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  background-color: #000;
  margin-bottom: 4px;
}
  /* modal canal */

/* .modalCanal{

    display: none; 
    position: fixed ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%; 
    width: 300px;
    padding: 20px;
    background-color: antiquewhite;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    z-index: 1000;
  } */
  /* CONTENIDO */
.modalCanal .modalC {
    text-align: center;
  }


#close , #btonC, #btonS{
    border-radius: 5px;
    margin-top: 6px;
    padding: 7px;
    color:#fff;
    background-color: #011640;
}