body{
    font-family: 'Onest', sans-serif;
    background: rgba(7,4,25,1);
    background-image: url("../assets/Mini\ logo.jpg");
    background-repeat: no-repeat; 
    background-position: left;
    height: 5vh;
}

h1{
    font-size: 40px;
    color: rgba(255,255,255,1);
}

.conteiner{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    padding: 20px;
    width: 40%;
    align-items: center;
    margin:110px auto;
    /* border-radius: 5px; */
    background-color: rgb(58, 38, 155);
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    border-radius: 50px;
}

#myform{
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    border-radius: 5px;
    /* font-size: 22px; */
}

.inputs{
    width: 280px;
    height: 25px;
    border-radius: 8px;
    font-size: 20px;
}

#select{
    display: inline;
}

button{
    margin-top: 5px;
}

#bton {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 100px;
    font-size: 20px;
    
}
  
#bton:hover {
    background-color: #f1eded57;
}